@media screen and (max-width:479px) {
    :root{
        --padding-inline-section:5px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1 rem;
    }
    .feature-card{
        max-width: 100%;
        padding: 20px;
    }
    .feature-card p{
        text-align: center;
    }
    .example-section{
        padding: 10px var(--padding-inline-section);
        margin-block: 10px;
    }
    .cta-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }
    
    .cta-section{
        margin-block: 10px;
        padding: 20px calc(var(--padding-inline-section) + 20px);
    }
    footer{
        padding-block: 20px;
    }
    .sub-footer{ 
        font-size: 0.8rem;
    }
    .sub-footer-container{
        gap: 15px;
    }


}